
* {
    box-sizing: border-box;
}


#menu-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
	height: 100%;
	width: 40%;
  left: 50%;
  transform: translateX(-50%);
	background-color: #92999F;
  overflow: hidden;
}


#menu-difficulty-modes {
  position: absolute;
  z-index: 1;
	height: 37.5%;
	width: 100%;
	display: none;
	cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
.difficulty-mode-buttons {
	height: 33.3%;
	width: 100%;
	border-top: 2px solid #616E73;
	display: flex;
}

#hard-mode-button {
	border-bottom: 2px solid #616E73;
}

.menu-buttons {
	/*height: 7em;*/
	width: 100%;
	border-top: 2px solid #616E73;
	padding: 1em;
	position: absolute;
  top: 40%;
	cursor: pointer;
	/*overflow: hidden;*/
	display: flex;
	justify-content: space-around;
}
#single-button {
  transform: translateY(-100%);
  /*animation: mymoveUp 3s;*/
  /*animation-fill-mode: forwards;*/
}
#multi-button {
	border-bottom: 2px solid #616E73;
  /*animation: mymoveDown 3s;
  animation-fill-mode: forwards;*/
}

.animate-single-button {
  border-bottom: 2px solid #616E73;
  animation: mymoveUp 3s;
  animation-fill-mode: forwards;
}
.animate-multi-button {
  animation: mymoveDown 3s;
  animation-fill-mode: forwards;
}

@keyframes mymoveUp {
    0% {top: 40%;}
    100% {top: 0;opacity:0;}
}
@keyframes mymoveDown {
    0% {top: 40%;}
    100% {top: 100%;opacity:0;}
}


#multi-mode-option {
	height: 50%;
	width: 100%;
	display: none;
	text-align: center;
	/*flex-direction: column;
	justify-content: space-around;*/
	padding: 0 0.5em;
  position: relative;
}
.orange-circle-button {
  position: absolute;
  top: 40%;
	box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
	border: .5em solid #2C6390;
	line-height: 1.1em;
	color: #D3DDE0;
	background-color: #2C6390;
	margin: auto;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	/*padding: 1em;*/
	text-align: center;
}
#random-button {
  transform: translate(-50%,-100%);
}
#choose-button {
  transform: translate(-50%, 10%);
}
.orange-circle-button:hover {
	color:#ffffff;
    background-color: #E44C27;
	text-decoration: none;
	border-color: #E05D3C;

}
.orange-circle-button:visited {
	color:#ffffff;
    background-color: #e84d0e;
	text-decoration: none;

}
.orange-circle-link-greater-than {
    font-size: 1em;
}


#menu-container p{
	text-align: left;
  font-weight: bold;
  color: #103B46;
	margin: 0;
	margin-left: 10%;
	width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.difficulty-mode-buttons p{
	text-align: center!important;
	margin: auto!important;
}

.icon-menu {
	font-size: 2em !important;
	color: #236294;
	position: relative;
}


/*#random-button {
	float: left;
	margin-left: 10%;
}

#choose-button {
	float: right;
	margin-right: 10%;
}*/

#final-panel {
	position: absolute;
	width: 33.3%;
	height: 0%;
	width: 0%;
	background-color: #92999F;
	margin-left: 33.3%;
	margin-top: 4%;
	text-align: center;
	overflow: hidden;
	transition: height 2s;
    border-style: ridge;
    border-width: thin;
    border-color: rgb(122, 127, 131);
}

.trophy-final {
	font-size: 10em !important;
    float: clear;
    clear: ;
    color: #E3AF28;
    text-align: center;
    display: block;
}

#sad-face {
	font-size: 5em;
	margin-top: 10%;
	color: #E44C27;
}

#multi-panel-winner, #multi-panel-tie, #single-panel {
	display: none;
}

@media (min-width: 500px) {
  #menu-container {
    font-size: 1.8em;
  }
  .orange-circle-button {
    width: 125px;
    height: 125px;
  }
  #choose-button {
    transform: translate(-50%, 20%);
  }
}

@media (min-width: 700px) {
  .orange-circle-button {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1000px) {
  #menu-container {
    width: 30%;
  }
}
